// ==========================================================================
// Nav
// ==========================================================================

section.intro {
	background: $background;
	height: 80vh;
	width: 100%;
	z-index: 1;
}

header {
	margin: 0 auto;
	max-width: 1040px;
	text-align: center;
	top: 0;
	z-index: 1;
	width: 100%;
	position: fixed;
	@include prefix((transform: translateX(25%)));	
	&:after {
		content: url(../img/octo.png);
		position: absolute;
		left: 25%;
		top: 125%;
		z-index: -1;
	}
	h1 {
		background-color: $background;
		color: $text-color;
		display: inline-block;
		min-height: 70px;
		margin: 55px auto 0;
		padding: 0 10px;
		z-index: 2;
		&:after {
			background-color: $color-four;
			content: '';
			height: 2px;
			margin-top: 55px;
			position: absolute;
			width: 100%;
			z-index: -1;
			left: 0%;
		}
	}
}

