// ==========================================================================
// Base Styles
// ==========================================================================

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
  font-size: $base-font-size;
  font-family: $font-family-secondary;
  line-height: ($base-line/$base-font-size);
}

// Text

h1 {
	font-weight: 500;
	font-size: 70px;
	font-family: $font-family-primary;
}

h2 {
	@extend %hdln-sec;
	font-family: $font-family-primary;
}

h3 {
	font-size: em(18px);
}

h4 {
	margin-top: em(22px, 14px);
	margin-bottom: em(32px, 14px);
	text-transform: uppercase;
	letter-spacing: $letter-space;
	font-weight: $font-weight-medium;
	font-size: em(14px);
}

a {
	text-decoration: none;
	font-weight: $font-weight-medium;
}

p {
	margin: 0 0 em(30px, 18px);
	font-weight: $font-weight-light;
	font-size: em(18px);
	line-height: (27px/18px);
}


// Images

img {
  margin-bottom: em(24px);
  max-width: 100%;
  height: auto;
}

// Lists

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// Form elements

input, 
textarea {
	display: block;
	padding: 15px;
	width: 100%; 
	outline: 0;
	border: 0;
}

input:focus, 
textarea:focus {
	transition: $trns-duration;
}

// Button

button {
	outline: 0;
}

// Layout
